body{
  font-family:"Arial", "Meiryo", sans-serif
}

.google-fonts{
  font-family: 'Noto Sans JP', sans-serif;
}

html {
  font-size: 2em;
}

h1 {
  text-shadow: 5px 1px 2px gray;
  border-bottom: solid 3px rgb(115, 115, 114);
  letter-spacing: 1.5em;
  text-align: center;
  font-size: 40px;
}

.color {
  color: skyblue;
}

.color1{
  color: rgb(255, 192, 203)
}

.text-a{
  color:skyblue;
}

.text-b{
  color:rgb(255, 192, 203)
}

.h1,h2,p{
  text-align: center;
}

.a-1 > p{
  font-weight:bold
}